####
/home/niveus/AIML/OPENCV/addtext.py
/home/niveus/AIML/OPENCV/colou-convert.py
/home/niveus/AIML/OPENCV/convertedimage.png
/home/niveus/AIML/OPENCV/convert_to_image_bgr.py
/home/niveus/AIML/OPENCV/convert_to_image_grey.py
/home/niveus/AIML/OPENCV/cor.py
/home/niveus/AIML/OPENCV/crcle.py
/home/niveus/AIML/OPENCV/first.py
/home/niveus/AIML/OPENCV/histogram.py
/home/niveus/AIML/OPENCV/image.png
/home/niveus/AIML/OPENCV/imageproperties.py
/home/niveus/AIML/OPENCV/new.png
/home/niveus/AIML/OPENCV/output.png
/home/niveus/AIML/OPENCV/pattern.py
/home/niveus/AIML/OPENCV/rahullll.jpg
/home/niveus/AIML/OPENCV/red.png
/home/niveus/AIML/OPENCV/resize.py
/home/niveus/AIML/OPENCV/rotate.py
/home/niveus/AIML/OPENCV/split.py
/home/niveus/AIML/OPENCV/trim.py
